<div class="row clearfix ">

    <% if fridge_item.item_used? %>
    <div class="used">
        <%= link_to item_used_user_fridge_fridge_item_path( @fridge, fridge_item.id ), :method => :patch do %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
        <% end  %>
    </div>

    <div class="fridge_item">
        <p style="opacity: 0.4;">
            <strike><%= fridge_item.name %></strike>
        </p>
        <p><%= fridge_item.use_by_date %>
    </div>

    <div class="bin">
        <%= link_to user_fridge_fridge_item_path( @fridge.user, @fridge, fridge_item.id ), :method => :delete do %>
            <i class="fa fa-trash"></i>
        <% end %>
    </div>

    <% else %>

    <div class="used">
        <%= link_to item_used_user_fridge_fridge_item_path(@fridge.user, @fridge, fridge_item.id ), :method => :patch do %>
        <i class="fa fa-check"></i>
        <% end  %>
    </div>

    <div class="fridge_item">
        <p><%= fridge_item.name %></p>
        <p><%= fridge_item.use_by_date %></p>
    </div>

    <div class="bin">
        <%= link_to user_fridge_fridge_item_path( @fridge.user, @fridge, fridge_item.id ), :method => :delete do %>
            <i class="fa fa-trash"></i>
        <% end %>
    </div>

    <% end %>
</div>
