<p id="notice"><%= notice %></p>

<% @fridges.each do |fridge| %>
  <div class="index_row clearfix">
    <h2 class="fridge_name">
      <% if fridge.user %>
        <%= link_to fridge.name, user_fridge_path(fridge.user, fridge) %>
      <% else  %>
        <%= fridge.name %>
      <% end %>
    </h2>
    <p class="fridge_description"><%= fridge.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Fridge", new_user_fridge_path(@current_user) %> <br>
  <%= link_to("Log Out", login_path, :method => :delete) %>
</div>
