<p id="notice"><%= notice %></p>

<h2 class="fridge_name">
  <%= @fridge.name %> <br>
</h2>
<p class="fridge_description"><%= @fridge.description %></p>

<div class="links">
  <%= link_to 'Click for some recipes', fridge_display_path(@fridge.user, @fridge) %>
</div>

<br>

<div id="fridge_items_wrapper">
  <%= render @fridge.fridge_items %>
  <div id="form">
    <%= render "fridge_items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Back', user_fridges_path %> |
  <%= link_to 'Delete', user_fridge_path(@fridge.user, @fridge), :method => :delete, data: {confirm: "Are you sure?"} %>
</div>
