Hi <%= @user.name %>,

These are the next three item to go out of date:
<%= @items %>

And here is what you could do with them...

<% @recipe_data.each do |item| %>

  <%= link_to item[:name], item[:link]  %>
  <!-- <p><%= item[:link] %></p> -->
  <img src="<%= item[:image_link] %>">
<!-- link_to 'Edit', edit_user_fridge_path(@fridge.user, @fridge) -->
<% end %>

Kind regards

Fresh Meat Team
